@font-face {
  font-family: "Audrey";
  src: url("/dist/assets/fonts/Audrey/Audrey-Normal.otf") format("opentype");
}

@font-face {
  font-family: "ADAM.CG PRO";
  src: url("/dist/assets/fonts/Adam/adam.otf") format("opentype");
}

@font-face {
  font-family: "Brela";
  src: url("/dist/assets/fonts/Brela/brela.otf") format("opentype");
}

.black {
  color: black;
}

.blue {
  color: #b1adc6;
}

.hover-my-blue:hover { color: #b1adc6; }
.hover-my-blue:focus { color: #b1adc6; }
.hover-my-pink:hover { color: #f3a5c0; }
.hover-my-pink:focus { color: #f3a5c0; }


.audrey {
  font-family: "Audrey", "Open Sans", "Arial";
  font-weight: normal;
  font-style: normal;
}

.adam {
  font-family: "ADAM.CG PRO";
  font-weight: normal;
  font-style: normal;
}

.brela {
  font-family: "Brela", "Open Sans", "Arial";
  font-weight: normal;
  font-style: normal;
}