@font-face {
  font-family: 'Audrey';
  src: url('./dist/assets/fonts/Audrey/Audrey-Normal.ttf') format('truetype'),
      url('./dist/assets/fonts/Audrey/Audrey-Normal.svg#Audrey-Normal') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'ADAM.CG PRO';
  src: url('./dist/assets/fonts/Adam/ADAMCGPRO.ttf') format('truetype'),
      url('./dist/assets/fonts/Adam/ADAMCGPRO.svg#ADAM.CGPRO') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Brela';
  src: url('./dist/assets/fonts/Brela/Brela.ttf') format('truetype'),
      url('./dist/assets/fonts/Brela/Brela.svg#Brela') format('svg');
  font-weight: normal;
  font-style: normal;
}



.black {
  color: black;
}

.blue {
  color: #b1adc6;
}

.hover-my-blue:hover { color: #b1adc6; }
.hover-my-blue:focus { color: #b1adc6; }
.hover-my-pink:hover { color: #f3a5c0; }
.hover-my-pink:focus { color: #f3a5c0; }


.audrey {
  font-family: "Audrey", "Open Sans", "Arial";
  font-weight: normal;
  font-style: normal;
}

.adam {
  font-family: "ADAM.CG PRO";
  font-weight: normal;
  font-style: normal;
}

.brela {
  font-family: "Brela", "Open Sans", "Arial";
  font-weight: normal;
  font-style: normal;
}

.abutton {
  background:none;
  color:inherit;
  border:none; 
  padding:0!important;
  font: inherit;
  /*border is optional*/
  cursor: pointer;
}

.activeBtn {
  font-weight: bold;
}